<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head', {title: 'Editando: ' + producto.name}) %>

<body>

    <%- include('./partials/header',{title:'Edicion Producto'}) %> 
    <%- include('./partials/nav') %>

    <main>
        <section class=form_registro>
            <div>
                <h2 class=titulo>Editando: <%= producto.name %>   </h2>
            </div>
            <form action="/products/edit/<%= producto.id %>?_method=PUT" method="POST" enctype="multipart/form-data"> 
                <div class=container>
                    <div class="detalle_form_registro">
                        <label for="marca">Marca</label>
                        <input type="text" name="marca" id="marca" value="<%= producto.name %>">
                    </div>
                    <div class="detalle_form_registro">
                        <label for="cod_prod">Codigo Producto</label>
                        <input type="text" name="cod_prod" id="cod_prod" value="<%= producto.code %>">
                    </div>
                    <div class="detalle_form_registro">
                        <label for="precio">Precio</label>
                        <input type="number" name="precio" id="precio" value="<%= producto.price %>">
                    </div>
                    <div class="detalle_form_registro">
                        <label for="descuento">Descuento</label>
                        <input type="number" name="descuento" id="descuento" value="<%= producto.discount %>">                       
                    </div>
                    <div class="detalle_form_registro">
                        <label for="categoria">Categoria</label>
                        <select name="categoria" id="categoria" value="<%= producto.category %> ">
                            <option value="pc-notebook"<%= producto.category == 'pc-notebook' ? "selected" : "" %>>PC/Notebook</option>
                            <option value="consolas" <%= producto.category == 'consolas' ? "selected" : "" %>>Consolas</option>
                            <option value="accesorios" <%= producto.category == 'accesorios' ? "selected" : "" %>>Accesorios</option>
                        </select>
                </div>
                <div class="container">
                    </div>
                    <div class="detalle_form_registro">
                        <label for="imagen">Imagen del Producto</label>
                        <input type="file" name="imagen" id="imagen" value="<%= producto.image %>">
                    </div>
                </div>
                <div class="container">
                    <div class="detalle_form_registro">
                        <label for="descripcion">Descripcion Producto</label>
                        <textarea name="descripcion" id="descripcion" cols="80" rows="10"><%= producto.description %></textarea>
                    </div>
                </div>  
                
                <div class=boton_enviar>
                    <button type="submit" id="guardar_producto" name="guardar_producto" class="boton">Guardar fProducto</button>  
                </div>     
            </form>

            <% if (locals.usuarioSesion.typeuser_id==3) { %> <form action="/products/delete/<%= producto.id %>?_method=DELETE" method="POST" enctype="multipart/form-data">
                <button type="submit" id="borrar_producto" name="borrar_producto" class="boton">Borrar Producto</button>
            </form>
             <% } %> 
            
        </section>
    </main>

    <%- include('./partials/footer') %> 

</body>
</html>