<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    
    <%- include('./partials/header', {title:'TecStore'}) %>
    <%- include('./partials/nav') %>
    <main>
    <div class="portada">
    <div class="row">
        <div class="col-2">
            <h1>Buscas Tecnología<br>  de alto nivel?</h1><br>
            <h2 class="texto-portada"> Encontra todo lo que estas buscando y mas!</h2><br>
            <p class="texto-portada">Contamos con la Tecnología mas avanzada para tus necesidades!</p>
            <a href="" class="btn btn-primary"><bold>Ingresar</bold></a>
         
             
        </div>


        
        <div class="col-2">
            <img src="../images/home/portada.jpg" >
        </div>
    </div>
</div>
   </div> 
</div>
<div class="categories">
    <div class="small-container">
      <div class="row">
        <div class="col-3">
            <img src="../images/home/subportada1.jpg" >
        </div>
        <div class="col-3">
            <img src="../images/home/subportada2.jpg" >
        </div>
        <div class="col-3">
            <img src="../images/home/subportada3.jpg" >
        </div>
    </div>
    </div>

</div>
    
<div class="small-container">
    <h2 class="title">Productos Destacados</h2> 
    <div>
        <form action="/search" method="GET" class="search-form">
            <input type="text" name="keywords" placeholder="Buscar productos, marcas y más" class="search-form_input">
            <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
        </form>
    </div>
    <div class="row-products">
        <% for (product of productosDestacados) { %>
        <div class="col-4-products">
            <a href="/products/detail/<%= product.id %> ">
                <img class= "sale-box-image" src="/images/product_details/<%=product.image%>" alt="">
                <div class="sale-box-title"><%=product.name%></div>
                <div class="sale-box-price">$ <%=product.price%></div> 
            </a>
        </div>


        <%}%>
        
        <div class="small-container">
            <h2 class="title">Ultimos Productos</h2> 
            <div>
    <div class="row-products">
        <% for (product of ultimosProductos) { %>
        <div class="col-4-products">
            <a href="/product/<%= product.id %> "></a>
                <img class= "sale-box-image" src="/images/product_details/<%=product.image%>" alt="">
                <div class="sale-box-title"><%=product.name%></div>
                <div class="sale-box-price">$ <%=product.price%></div> 
            </a>
        </div>
    
        <%}%>

        </main>


    <%- include('./partials/footer') %>
</body>

</html>

