<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
    
        <%- include('./partials/header',{title:'Detalle Producto'}) %> 
        <%- include('./partials/nav') %>
    
        <div class="conten">
            <div class="img-box">
                <img src="/images/product_details/<%= product.image %>" alt="Imagen Apple Watch" style="width: 450px; height:400px" >
            </div>
            <div class="text-box">
                <span class="marco-1"> <h1><%= product.name %> </h1></span>
                <h4 class="description-products">-Descripcion</h4>
                <div class="marco">   
                    <p class="detail-products"> <%= product.description %></p><br>

                    <b><h2><%= product.price %> </h2></b><br>

                    <h3><%= product.category.name %> </h3>
                    
                    <ul class="actions-list">
                        <li>
                            <i class="fas fa-credit-card" style="color: green;"></i>
                            <p>Pagá hasta 12 cuotas sin interes</p>
                        </li>
                        <li>
                            <i class="fa fa-truck" style="color: green;" aria-hidden="true"></i>
    
                            <p>Envios a toda la Argentina</p>
                        </li>
                    </ul>
                               <div class="botons">
                <a href="" class="fas fa-shopping-cart btn-comprar" ><bold>Comprar</bold></a>          
                <!-- <a href="/products/edit/<%= product.id %> "class="fa fa-pencil-square btn-edit"><bold>Editar Producto</bold></a>  
                <form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST" enctype="multipart/form-data">
                    <button type="submit" id="borrar_producto" name="borrar_producto" class="fas fa-trash-alt btn-delete">Borrar Producto</button>
                </form> -->
                <!--<a href="" class="fas fa-trash-alt btn-delete"><bold>Eliminar</bold></a>  --> 
            </div>
        </div> 
        </div>
                       
                </div>
                <div>
                
            </div>
             

        <div class="div-first-part">
            <div class="footer-container">
                <article class="div-article">
                    <i class="fas fa-credit-card div-icon"></i>
                    <h3 class="div-title">Pagá con tarjeta o en efectivo</h3>
                    <p class="div-detail">En TecStore, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre
						es seguro!</p>
                </article>
            </div>
    
            <div class="footer-container">
                <article class="div-article">
                    <i class="fa fa-truck div-icon"></i>
                    <h3 class="div-title">Envío sin cargo a todo el pais</h3>
                    <p class="div-detail">Solo por estar registrado tenés envíos gratis en miles de productos.</p>
                </article>
            </div>
        
    
            <div class="footer-container">
                <article class="div-article">
                    <i class="fas fa-user-shield  div-icon"></i>
                    <h3 class="div-title">Seguridad, de principio a fin</h3>
                    <p class="div-detail">¿No te gusta? ¡Devolvelo!, no hay nada que no puedas hacer, porque estás siempre
						protegido.</p>
                </article>
            </div>
    
         
            </div>
        </div>  


        <%- include('./partials/footer') %> 
    
</body>

</html>