<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head'), {title: 'Productos' } %>
<body>
    
    <%- include('./partials/header') %>
    <main>


    <div class="row-products">
        <% for (product of products) { %>
        <div class="col-4-products">
            <a href="/products/detail/<%= product.id %> ">
                <img class= "sale-box-image" src="/images/product_details/<%=product.image%>" alt="">
                <div class="sale-box-title"><%=product.name%></div>
                <div class="sale-box-price">$ <%=product.price%></div> 
            </a>
        </div>


        <%}%>
        
       

        </main>


    <%- include('./partials/footer') %>
</body>

</html>
