<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    
    <%- include('./partials/header') %>

<main>
    <div class="portada">
        
        <div class="col-2" >
            <h2  style="color: aquamarine;" class="products-title"><%= locals.usuarioSesion.email %></h2>
        </div>
        <div class="col-2">
            <img style="width:500px;height:700px" src="/images/users_details/<%= locals.usuarioSesion.image %>" alt="">
        </div>
        
    </div>
</main>

    <%- include('./partials/footer') %>

</body>

</html>
