<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body style="background-image: linear-gradient(rgba(3, 3, 39, 0.5), rgba(9, 68, 63, 0.5)),
url("../../media/examples/lizard.png");">
    
    <%- include('./partials/header', {title:'Mi Perfil'}) %>
    <%- include('./partials/nav') %>
    
<main>
        <article>
            <div class="form_perfil">
                  <h2 class="title-perfil">Perfil del usuario</h2>
                        
                    <div class="profile-avatar-container">
                            <img  src="/images/users_details/<%= locals.usuarioSesion.image %>" alt="" class="profile-page-avatar">
                           
                 </div>    
                    <div class="profile-information-container">
                        <form action="">
                        <div class="profile-information">
                            <label for="name" class="profile-labels">Nombre</label>
                            <input type="text" name="name" id="" value="<%=locals.usuarioSesion.name%>" class="inputs-fields profile-inputs" readonly>
                        </div>


                        <div class="profile-information">
                            <label for="email" class="profile-labels">Correo</label>
                            <input type="text" name="email" id="" value="<%=locals.usuarioSesion.email%>" class="inputs-fields profile-inputs" readonly>
                        </div>
                        <div class="profile-information">
                            <a class="fas fa-user-edit btn-edit" href="/users/profile/edit/<%= locals.usuarioSesion.id %>  "><bold>Editar perfil</bold>></a>
                        </div>
                    
                    </div>
                </div>
            </div>
        </article>
    
</main>


    <%- include('./partials/footer') %>

</body>

</html>
